<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-6">
      <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" (onClick)="abrirModalNuevoUsuario()" />
        <p-button severity="danger" label="Eliminar" icon="pi pi-trash" outlined disabled />
      </ng-template>
  
      <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar"
          auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
      </ng-template>
    </p-toolbar>
  
    <p-table [value]="usuarios" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <h5 class="m-0">Gestionar Usuarios</h5>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" placeholder="Buscar..." />
          </p-iconfield>
        </div>
      </ng-template>
  
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Rol</th>
          <th>E-mail</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.first_name }}</td>
          <td>{{ usuario.last_name }}</td>
          <td>{{ usuario.role }}</td>
          <td><p-tag [value]="usuario.email" /></td>
          <td>
            <p-tag [value]="usuario.active ? 'Activo' : 'Inactivo'" [severity]="usuario.active ? 'success' : 'danger'" />
          </td>
          <td>
            <p-button icon="pi pi-pencil" class="mr-2" rounded outlined (click)="editarUsuario(usuario)" />
            <p-button icon="pi pi-trash" severity="danger" rounded outlined (click)="eliminarUsuario(usuario.id)" />
          </td>
        </tr>
      </ng-template>
    </p-table>
    
    <!-- Modal edicion -->
    <p-dialog [(visible)]="editarModalVisible" [modal]="true" [style]="{width: '500px'}" header="Editar Usuario" [closable]="false">
      <div class="flex flex-col gap-4">
        <div>
          <label class="block font-semibold mb-1">Nombre</label>
          <input type="text" pInputText [(ngModel)]="usuarioEditando.first_name" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Apellido</label>
          <input type="text" pInputText [(ngModel)]="usuarioEditando.last_name" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Correo</label>
          <input type="email" pInputText [(ngModel)]="usuarioEditando.email" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Rol</label>
          <p-dropdown [options]="roles" [(ngModel)]="usuarioEditando.role" optionLabel="label" optionValue="value" placeholder="Seleccione un rol" class="w-full"/>
        </div>

        <div>
          <label class="block font-semibold mb-1">Estado</label>
          <p-dropdown
            [options]="[
              { label: 'Activo', value: true },
              { label: 'Inactivo', value: false }
            ]"
            [(ngModel)]="usuarioEditando.active"
            placeholder="Seleccionar estado"
          ></p-dropdown>
        </div>
        <div>
          <label class="block font-semibold mb-1">Contraseña</label>
          <input type="password" pInputText [(ngModel)]="usuarioEditando.password" class="w-full" />
        </div>
      </div>
    
      <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" (click)="cerrarModal()" class="p-button-text" />
        <p-button label="Actualizar datos" icon="pi pi-check" (click)="actualizarUsuario()" class="p-button-success" />
      </ng-template>
    </p-dialog>

    <!-- modal registrar -->
    <p-dialog [(visible)]="nuevoUsuarioModalVisible" [modal]="true" [style]="{ width: '500px' }" header="Nuevo Usuario" [closable]="false">
      <div class="flex flex-col gap-4">
        <div>
          <label class="block font-semibold mb-1">Nombre</label>
          <input type="text" pInputText [(ngModel)]="usuario.first_name" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Apellido</label>
          <input type="text" pInputText [(ngModel)]="usuario.last_name" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Correo</label>
          <input type="email" pInputText [(ngModel)]="usuario.email" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Rol</label>
          <p-dropdown [options]="roles" [(ngModel)]="usuario.role" optionLabel="label" optionValue="value" placeholder="Seleccione un rol" class="w-full" />
        </div>
    
        <div>
          <label class="block font-semibold mb-1">Contraseña</label>
          <input type="password" pInputText [(ngModel)]="usuario.password" class="w-full" />
        </div>
      </div>
    
      <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" (click)="nuevoUsuarioModalVisible = false" class="p-button-text" />
        <p-button label="Registrar" icon="pi pi-check" (click)="registrarUsuario()" class="p-button-success" />
      </ng-template>
    </p-dialog>
    

  </div>
  