<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-6">
      <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" />
        <p-button severity="danger" label="Eliminar" icon="pi pi-trash" outlined disabled />
      </ng-template>
  
      <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar"
          auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
      </ng-template>
    </p-toolbar>
  
    <p-table [value]="usuarios" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <h5 class="m-0">Gestionar Usuarios</h5>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" placeholder="Buscar..." />
          </p-iconfield>
        </div>
      </ng-template>
  
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Rol</th>
          <th>E-mail</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.first_name }}</td>
          <td>{{ usuario.last_name }}</td>
          <td>{{ usuario.role }}</td>
          <td><p-tag [value]="usuario.email" /></td>
          <td>
            <p-tag [value]="usuario.active ? 'Activo' : 'Inactivo'" [severity]="usuario.active ? 'success' : 'danger'" />
          </td>
          <td>
            <p-button icon="pi pi-pencil" class="mr-2" rounded outlined (click)="editarUsuario(usuario)" />
            <p-button icon="pi pi-trash" severity="danger" rounded outlined (click)="eliminarUsuario(usuario.id)" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  