<div class="card">
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" (click)="abrirModalNuevoProducto()" />
      <p-button severity="danger" label="Eliminar" icon="pi pi-trash" outlined disabled />
    </ng-template>
    <ng-template #end>
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar"
        auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" /> -->
      <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
    </ng-template>
  </p-toolbar>

  <p-table 
    [value]="productosCompletos" 
    [rows]="10" 
    [paginator]="true" 
    [rowHover]="true" 
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Activo</th>
        <th>Categoría</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>
          <p-tag 
            [value]="product.active ? 'Activo' : 'Inactivo'" 
            [severity]="product.active ? 'success' : 'danger'" 
          />
        </td>
        <td>{{ product.category }}</td>
        <td>
          <img [src]="product.image_url" alt="Imagen" width="60" height="60" style="border-radius: 0.5rem" />
        </td>
        <td>{{ product.price_usd | currency:'USD' }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <p-button 
            icon="pi pi-pencil" 
            class="mr-2" 
            rounded 
            outlined 
            (click)="abrirModalEditarProducto(product.id)" 
          />
          <p-button 
            icon="pi pi-trash" 
            severity="danger" 
            rounded 
            outlined 
            (click)="eliminarProducto(product.id)" 
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- modal de registrar producto -->
  <p-dialog header="Registrar producto" [(visible)]="nuevoProductoModalVisible" [modal]="true" [styleClass]="'w-[90vw] md:w-[50vw] lg:w-[40vw]'" [dismissableMask]="true"
  >
    <form class="grid gap-4">
      
      <div>
        <label>Nombre</label>
        <input pInputText [(ngModel)]="nuevoProducto.name" name="name" class="w-full"/>
      </div>
  
      <div>
        <label>Descripción</label>
        <textarea pInputText [(ngModel)]="nuevoProducto.description" name="description" class="w-full"></textarea>
      </div>
  
      <div>
        <label>Especificaciones</label>
        <textarea pInputText [(ngModel)]="nuevoProducto.technical_specifications" name="technical_specifications" class="w-full"></textarea>
      </div>
  
      <div>
        <label>Marca</label>
        <p-dropdown [options]="brands" [(ngModel)]="nuevoProducto.brand_id" name="brand_id" optionLabel="name" optionValue="id" placeholder="Seleccione una marca" class="w-full"/>
      </div>
  
      <div>
        <label>Categoría</label>
        <p-dropdown [options]="categories" [(ngModel)]="nuevoProducto.category_id" name="category_id" optionLabel="name" optionValue="id" placeholder="Seleccione una categoría" class="w-full"/>
      </div>
  
      <div>
        <label>Garantía</label>
        <p-dropdown [options]="warranties" [(ngModel)]="nuevoProducto.warranty_id" name="warranty_id" optionLabel="name" optionValue="id" placeholder="Seleccione una garantía" class="w-full"/>
      </div>
  
      <div>
        <label>Imagen</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" class="w-full" />
      </div>
      
  
      <div>
        <label>Modelo 3D</label>
        <input pInputText [(ngModel)]="nuevoProducto.model_3d_url" name="model_3d_url" class="w-full"/>
      </div>
  
      <div>
        <label>AR URL</label>
        <input pInputText [(ngModel)]="nuevoProducto.ar_url" name="ar_url" class="w-full"/>
      </div>

      <div>
        <label>Stock</label>
        <input type="number" pInputText [(ngModel)]="stock" name="stock" class="w-full"/>
      </div>
      
      <div>
        <label>Precio (USD)</label>
        <input type="number" pInputText [(ngModel)]="price_usd" name="price_usd" class="w-full"/>
      </div>
      
  
      <div class="text-right">
        <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text mr-2" (click)="nuevoProductoModalVisible = false"></button>
        <button pButton type="button" label="Registrar" icon="pi pi-check" class="p-button-success" (click)="registrarProducto()"></button>
      </div>
    </form>
  </p-dialog>


   <!-- modal de editar producto -->
   <p-dialog header="Editar producto" [(visible)]="editarProductoModalVisible" [modal]="true" [styleClass]="'w-[90vw] md:w-[50vw] lg:w-[40vw]'" [dismissableMask]="true"
>
    <form class="grid gap-4">
      <div>
        <label>Nombre</label>
        <input pInputText [(ngModel)]="productoEditable.name" name="edit_name" class="w-full" />
      </div>
  
      <div>
        <label>Descripción</label>
        <textarea pInputText [(ngModel)]="productoEditable.description" name="edit_description" class="w-full"></textarea>
      </div>
  
      <div>
        <label>Especificaciones</label>
        <textarea pInputText [(ngModel)]="productoEditable.technical_specifications" name="edit_specifications" class="w-full"></textarea>
      </div>
  
      <div>
        <label>Marca</label>
        <p-dropdown [options]="brands" [(ngModel)]="productoEditable.brand_id" name="edit_brand_id" optionLabel="name" optionValue="id" class="w-full"/>
      </div>
  
      <div>
        <label>Categoría</label>
        <p-dropdown [options]="categories" [(ngModel)]="productoEditable.category_id" name="edit_category_id" optionLabel="name" optionValue="id" class="w-full"/>
      </div>
  
      <div>
        <label>Garantía</label>
        <p-dropdown [options]="warranties" [(ngModel)]="productoEditable.warranty_id" name="edit_warranty_id" optionLabel="name" optionValue="id" class="w-full"/>
      </div>
  
      <div>
        <label>Imagen</label>
        <input type="file" (change)="onEditFileSelected($event)" />
      </div>

      <div>
        <label>Precio (USD)</label>
        <input type="number" pInputText [(ngModel)]="productoEditable.price_usd" name="edit_price_usd" class="w-full" />
      </div>
      
      <div>
        <label>Stock</label>
        <input type="number" pInputText [(ngModel)]="productoEditable.stock" name="edit_stock" class="w-full" />
      </div>
  
      <div>
        <label>Modelo 3D</label>
        <input pInputText [(ngModel)]="productoEditable.model_3d_url" name="edit_model_3d" class="w-full" />
      </div>
  
      <div>
        <label>AR URL</label>
        <input pInputText [(ngModel)]="productoEditable.ar_url" name="edit_ar_url" class="w-full" />
      </div>
  
      <div class="text-right">
        <button pButton type="button" label="Cancelar" class="p-button-text mr-2" (click)="editarProductoModalVisible = false"></button>
        <button pButton type="button" label="Guardar cambios" class="p-button-success" (click)="editarProducto()"></button>
      </div>
    </form>
  </p-dialog>
  


</div>
